{%- liquid
  assign product_resource = closest.product
  assign product_rating = product_resource.metafields.custom.rating
  assign number_of_rating = product_resource.metafields.custom.number_of_rating
  assign stars_number = block.settings.stars_number

  assign stars_background = block.settings.stars_background
-%}
<div class="product-rating">
  {% render 'rating', rating: product_rating, stars_background: stars_background, stars_number: stars_number %}

  <span>{{ product_rating }}</span>
  <span>({{ number_of_rating | default: 0 }})</span>
</div>

{% # theme-check-disable %}
{% stylesheet %}
  .product-rating {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .stars-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.product_rating",
  "tag": null,
  "settings": [
    {
      "type": "color",
      "id": "stars_background",
      "label": "t:settings.stars_background",
      "default": "#D27222"
    },
    {
      "type": "number",
      "id": "stars_number",
      "label": "t:settings.stars_number",
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "t:names.product_rating",
      "category": "t:categories.product"
    }
  ]
}
{% endschema %}
{% # theme-check-enable %}
