<div
  class="
    section
    section--page-width
    section-resource-list
    spacing-style
    gap-style
  "
  style="
    {% render 'spacing-style', settings: section.settings %}
    {% render 'gap-style', value: section.settings.gap %}
  "
>
  <div class="tabs-and-alternative-product-section">
    {%- content_for 'block', type: 'product-additional-info', id: 'product-additional-info' -%}

    {%- content_for 'block', type: 'alternative-product', id: 'alternative-product' -%}
  </div>
</div>

{% stylesheet %}
  .tabs-and-alternative-product-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @media (min-width: 750px) {
    .tabs-and-alternative-product-section {
      grid-template-columns: 4fr 2fr;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Tabs and alternative",
  "settings": [
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],

  "presets": []
}
{% endschema %}
